.Home {
  padding: 2vw 5vw;
}

.Home .App-header {
  display: flex;
  justify-content: space-between;
  color: #555;
  margin-bottom: 0.1rem;
}

.Home .App-header .title {
  font-size: 2rem;
}

.Home .App-header .user {
  position: relative;
}

.Home .App-header .user::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100px;
  bottom: 12px;
  right: -7px;
  background-color: #bbb;
}

.Home .App-header .user::after {
  content: "";
  position: absolute;
  right: -7px;
  height: 90vh;
  width: 1px;
  background-color: #bbb;
}

.Home a {
  text-decoration: none;
}

.Home .buttons button {
  font-size: 0.8rem;
  margin-top: 0.2rem;
  margin-right: 0.4rem;
  display: inline;
  background-color: #eee;
  padding: 0.15rem 0.3rem;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid #777;
  color: black;
}

.Home .buttons button:hover {
  cursor: pointer;
  background-color: #ddd;
}

.Home .buttons button:active {
  background-color: #ccc;
}

.Home .home-content {
  display: flex;
  flex-direction: column;
  margin: 0 4rem;
}
