.Admin {
  border-radius: 5px;
  border: outline;
  box-shadow: 1px 1px 0.6rem gray;
  padding: 2rem;
  padding-bottom: 1rem;
  outline: 1px solid lightgray;
  margin: 3rem 4rem;
}

.Admin .heading {
  font-weight: bold;
  font-size: 2rem;
}

.Admin a {
  text-decoration: none;
}

.Admin .buttons {
  margin-bottom: 2rem;
  margin-top: 0.35rem;
}

.Admin .buttons button {
  font-size: 0.8rem;
  margin-top: 0.2rem;
  margin-right: 0.4rem;
  display: inline;
  background-color: #eee;
  padding: 0.15rem 0.3rem;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid #777;
  color: black;
}

.Admin .buttons button:hover {
  cursor: pointer;
  background-color: #ddd;
}

.Admin .buttons button:active {
  background-color: #ccc;
}

@media screen and (max-width: 500px) {
}
